In [1]:
# List of integers
int_list = [1, 2, 3, 4, 5]

# List of floats
float_list = [1.1, 2.2, 3.3, 4.4, 5.5]

# List of strings
string_list = ["apple", "banana", "cherry"]

# Mixed list of int, float, and string
mixed_list = [1, 2.5, "hello"]

# Printing each list
print("Integer List:", int_list)
print("Float List:", float_list)
print("String List:", string_list)
print("Mixed List:", mixed_list)

Integer List: [1, 2, 3, 4, 5]
Float List: [1.1, 2.2, 3.3, 4.4, 5.5]
String List: ['apple', 'banana', 'cherry']
Mixed List: [1, 2.5, 'hello']

## list within list

In [2]:
x = [[1,2,34],
       [[4,5,6,7]
        ,[10.5,11.5]
       ]
    ]
x

[[1, 2, 34], [[4, 5, 6, 7], [10.5, 11.5]]]

In [3]:
a = [1, 2.5, "hello"]
a[0:2]

[1, 2.5]

## slicing

In [4]:
a = [1, 2.5,'a', "hello","anfjk",'dwhjb']
a[1:5:2]

[2.5, 'hello']

## Operation on list

In [5]:
a = [0] * 5
a

[0, 0, 0, 0, 0]

In [6]:
letter = ['a','b','c','d']
stg = ['python', 'list']

print(letter + stg)

['a', 'b', 'c', 'd', 'python', 'list']

In [7]:
a = list("python")
a

['p', 'y', 't', 'h', 'o', 'n']

In [8]:
num = [1,23,4,5]
a, *other = num
print(a)
print(other)

1
[23, 4, 5]

In [10]:
fruit = ['apple','banana','orange','pineapple','mango']

for i in fruit:
    if i == 'orange':
        continue
    print(i)

apple
banana
pineapple
mango

In [15]:
num = [1,2,3,4,5]
for i in num:
    print(i * 5)

5
10
15
20
25

In [16]:
num = [1,2,3,4,5]
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]