In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
for i in range(50):
    if(i%2 != 0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [5]:
tuple1 = ('hello')
n = 3

for i in range(int(n)):
    Tuple = (tuple1,)
    print(Tuple)

('hello',)
('hello',)
('hello',)

In [6]:
tuple2 = ('developer', 5 , 6.8, 'r' , 8)
print(len(tuple2))

5

In [9]:
tuple3 = (9,5,89,4,8)
print(max(tuple3))
print(min(tuple3))
print(sum(tuple3))
print(sorted(tuple3, reverse=True))

89
4
115
[89, 9, 8, 5, 4]

In [10]:
tuple4 = (4,1)
print(all(tuple4))

True

In [ ]:
tuple1 =