In [1]:
num_tuple = (1, 2, 3)
print(num_tuple)

mixed_tuple = (10, "Python", 3.14, True)
print(mixed_tuple)

nested_tuple = (1, (2, 3), ("a", "b"))
print(nested_tuple)

(1, 2, 3)
(10, 'Python', 3.14, True)
(1, (2, 3), ('a', 'b'))

In [2]:
empty_tuple = ()
print(empty_tuple)

single_element_tuple = (42,)
print(single_element_tuple)

tuple_of_tuples = ((1, 2), (3, 4), (5, 6))
print(tuple_of_tuples)

()
(42,)
((1, 2), (3, 4), (5, 6))

In [3]:
string_tuple = ("apple", "banana", "cherry")
print(string_tuple)

('apple', 'banana', 'cherry')

In [4]:
boolean_tuple = (True, False, True)
print(boolean_tuple)

(True, False, True)

In [5]:
tuple_with_list = (1, [2, 3], 4)
print(tuple_with_list)

(1, [2, 3], 4)

In [6]:
string_tuple = ("apple")
print(string_tuple)

apple

In [10]:
tuple1 = (1, 2, 3)
tuple2 = 4, 5, 6
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  

tuple3 = ("a", "b")
tuple4 = ("c", "d")
result_tuple = tuple3 + tuple4
print(result_tuple)  

tuple5 = (True, False)
tuple6 = (7, 8, 9)
combined_tuple = tuple5 + tuple6
print(combined_tuple)

(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
(True, False, 7, 8, 9)

In [11]:
tuple1 = (1, 2, 3)
tuple2 = 4, 5, 6
concatenated_tuple = tuple1 , tuple2
print(concatenated_tuple)

((1, 2, 3), (4, 5, 6))

In [13]:
tuple_example = ["Python",] * 3
print(tuple_example) 

num_tuple = (1, 2) * 4
print(num_tuple)

['Python', 'Python', 'Python']
(1, 2, 1, 2, 1, 2, 1, 2)

In [14]:
my_tuple = (10, 20, 30, 40, 50)

print(my_tuple[0]) 
print(my_tuple[3])

10
40

In [18]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[2:]
print(sliced_tuple)

(3, 4, 5)